.menubar {
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    height: 100vh;
    width: 300px;
    padding-top: 0px;
    border-right: 1px solid #e1e1e1;
}
.logo {
    padding: 20px 20px;
}

.menu {
    background-color: transparent;
}